<div class="example-card">
  <mat-card appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img mat-card-image src={{data.image}} width="300px" height="300px" alt="Photo of a Shiba Inu">
    
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="content">
  <div class="squart">
    <section class="squart-title">
      <mat-card-title>{{data.title}}</mat-card-title>
    </section>
    <div class="squart-title">
      <h1>id: {{data.id}}</h1>
    </div>
    <br>
    <section class="squart-img">
      <img mat-card-image src={{data.image}} width="300px" height="300px" alt="Photo of a Shiba Inu">
    </section>
    <div class="product-info">
      <p>
        {{data.description}}
      </p>
    </div>
  </div>
</div>