<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bg-light">
  <div class="container mt-5">
    <h2 class="text-center mb-4">Formulario de Usuario</h2>
    <form class="row g-3" [formGroup]="profileForm">

      <div class="col-md-6">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="firstName" matInput placeholder="Nombre">
            <mat-hint>{{profileForm.value.firstName}}</mat-hint>
          </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Apellidos</mat-label>
          <input formControlName="lastName" matInput placeholder="Apellidos">
          <mat-hint>{{profileForm.value.lastName}}</mat-hint>
        </mat-form-field>
      </div>

      
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>ID (Máximo 10 dígitos)</mat-label>
          <input type="number" formControlName="id" matInput placeholder="Id" (click)="validate()" id="uid">
          <mat-hint class="form-text" id="validateId">{{profileForm.value.id}}</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Fecha de nacimiento</mat-label>
          <input type="date" formControlName="birthdate" matInput placeholder="Fecha de nacimiento">
          <mat-hint>{{profileForm.value.birthdate}}</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>País</mat-label>
          <mat-select formControlName="country">
            <mat-option value="Colombia">Colombia</mat-option>
            <mat-option value="Argentina">Argentina</mat-option>
          </mat-select>
          <mat-hint>{{profileForm.value.country}}</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Género</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="Women">Women</mat-option>
            <mat-option value="Male">Male</mat-option>
          </mat-select>
          <mat-hint>{{profileForm.value.gender}}</mat-hint>
        </mat-form-field>

      </div>
      
      <!-- VALIDACIÓN -->
      <section class="validation col-12">
        <p class="text-muted">Complete el formulario de manera correcta para habilitar el botón.</p>
        <button mat-raised-button class="btn btn-secondary" type="submit" [disabled]="!profileForm.valid" (click)="openModal()">Enviar</button>
      </section>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
