<nav>
  <div class="general">
    <div class="content">
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/create">Create User</a>
        </li>
        <li>
          <a routerLink="/products">Productos</a>
        </li>
        <li>
          <a routerLink="/login"></a>
        </li>
      </ul>
    </div>
    <div class="logo">
      <button (click)="logout()">ss</button>
      <img [src]="logo" alt="logo" width="50px" height="50px" routerLink="/">
    </div>
  </div>
</nav>