*{
  background-color: rgb(25, 21, 46);
  font-size: 17px;
  border-radius: 50px;
}

nav {
  margin: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

.general {
  display: flex;
}

.logo {
  display: flex;
  justify-content: end;
}

.content {
  align-items: center;
  text-align: center;
  display: flex;
  flex-basis: 100%;
}

.content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding: 0;
  margin: 0;
}

.content a {
  color: rgb(241, 241, 241);
  text-decoration: none;
  justify-content: center;
}

.content a:hover {
  border-radius: 20px;
  color: rgb(157, 185, 245);
  text-decoration: none;
  justify-content: center;
}

.content li {
  flex-basis: 33%;
  list-style: none;
  flex-wrap: wrap;
}