
<div class="content">
  @for (usuario of listadoUsuarios; track $index) {
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            <p class="show-info" (click)="mostrarInformacion(usuario.avatar, usuario.username)"> {{usuario.name}} </p>
            
          </mat-card-title>
          <mat-card-subtitle>
            {{usuario.role}}
          </mat-card-subtitle>
          <img mat-card-avatar src={{usuario.avatar}} alt="avatar">
      </mat-card-header>
    </mat-card>
  }
</div>